<a href="https://colab.research.google.com/github/jeonhyeonjoon1/BP_10_Ch6/blob/main/BP_10_Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for _ in range(2,101,2):       #for함수를 사용해 2부터 101까지 2씩 늘려가며 반복한다 101까지 적어야 100까지 출력된다
    print(_, end=" ")          #변수를 언더바 처리했으므로 언더바를 똑같이 써주고 end를 사용해 해당 숫자를 끝까지 반복한다

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [6]:
year = 0
balance = 1000
while balance <= 2000:            #이 부분에서 맨처음 balance가 1000이라 2000보다큼을 충족하지 못하기 때문에 오류가 생긴다
    year = year + 1
    interest = balance * 0.07
    balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [7]:
n = 1234              
sum = 0
while n > 0:               #n이 0보다 크면 계속 반복한다
    digit = n %10          #digit값을 n%10 으로 정한다
    sum = sum + digit      #초기값이 0인 sum에 digit값을 계속 더한다
    n = n // 10            #n을 한자릿수 씩 줄여나간다 즉 4+3+2+1까지 더해 값은 10이출력된다
print(sum)

10

In [9]:
import random                   #랜덤 함수를 불러옴
x = random.randint(1, 10)       #x에 1~10중 하나의 정수를 랜덤으로 할당
y = random.randint(1, 10)       #y에 1~10중 하나의 정수를 랜덤으로 할당
 
while(True):
    z = int(input(str(x)+"*"+str(y)+"는 "))
    if(z == (x*y)):
        print("맞았습니다", end=" ")
        break;                #break를 활용해 맞을경우 반복문 종료

2*10는 20
맞았습니다

In [10]:
sum =0
while(True):
    x = int(input("정수를 입력하시오 : "))    #x에 사용자가 입력한 정수를 숫자열로 할당한다
    if(x==0):              #x가0일시 반복문을 종료한다
        break;
    sum += x              #+=를 활용해 x를 더한후 다시 그값을 sum으로 할당한다 
print("합은", sum ,"입니다.")

정수를 입력하시오 : 1234
정수를 입력하시오 : 1234
정수를 입력하시오 : 1234
정수를 입력하시오 : 0
합은 3702 입니다.

In [13]:
import random        #랜덤함수를 불러온다
 
for _ in range(3):   #괄호안의 숫자만큼 반복한다
    x = random.randint(1, 6)  #x에 1~6중 하나의 정수를 할당
    y = random.randint(1, 6)
    print("첫번째 주사위=",x ,"두번째 주사위=",y)

첫번째 주사위= 5 두번째 주사위= 6
첫번째 주사위= 4 두번째 주사위= 3
첫번째 주사위= 5 두번째 주사위= 5